<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenMic</title>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome-4.2.0/css/font-awesome.min.css" />
    <script src="/js/openmic.js"></script>
</head>
<body>
    <!-- container -->

    <div class="container-fluid">
        <div class="row">
            <header class="codrops-header col-xs-12">
                <h1>OpenMic <i class="fa fa-bullhorn"></i><span class="col-xs-12">Connect and ask the a question to the room</span></h1>
                <div>* currently does not support IOS devices</div>
            </header>
        </div>

        <div class="row">
            <div class="panel-group col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-md-offset-3" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="text-align: center">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><b>Click here for Instructions </b><i class="fa fa-arrow-down"></i></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>To ask a question to the room, follow these steps:</p>
                            <p>1. Enter your full name and click the 'Connect' button</p>
                            <p>2. Accept your browsers request to use your camera and microphone, your should now see a video stream from your camera.</p>
                            <p>3. Request for your video/audio to be shown by clicking the 'Call Moderator' button. You will be placed in a queue until the moderator accepts or declines your request.</p>
                            <p>4. If the moderator accepts your video/audio stream will be connected and displayed to the room.</p>
                            <p>5. To end, click the 'End Call' button or the 'Disconnect' button.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Row -->
        <div class="row">
                <!-- <div id="opentok_console" class="opentok_console"> -->
                    <div id="textBox" class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-md-offset-3">
                        <input id="txtName" type="text" class="form-control input-md" placeholder="Enter your Name"/>
                    </div>
                <!-- </div>End Class opentok_console -->
        </div><!-- End Row -->
        <div class="row">
            <center>
                <!-- Client Video -->
                <div class="Client_video" id="Client_video" style="display: none">
                    <div id="myCamera" class="publisherContainer col-md-6 col-sm-6 col-xs-12"></div>
                    <div id="chatContainer" class="col-md-6 col-sm-6 col-xs-12 chatContainer"></div>
                    <div id="subscribers" class="subscribersContainer" style="display:none"></div>
                </div>

            </center>
            <!-- End Client Video -->
        </div><!-- End Row -->

        <div class="row">

                <!-- Call moderator -->
                <div id="onlineusers"></div>
                <!-- End Call moderator -->

        </div>
        <div class="row">
                <!-- Connection Buttons -->
                <!-- Connect -->
                <br>
                <button id="connectLink" onclick="connect()" type="button" class="btn btn-primary btn-lg col-md-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">Connect</button>
                <!-- Disconnect -->
                <button id="disconnectLink" onclick="disconnect()" style="display: none" type="button" class="btn btn-primary btn-lg col-md-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">Disconnect</button>
                <!-- End Connection Buttons -->
        </div><!-- End Row -->

    </div><!-- End Container -->

    <script type="text/javascript" charset="utf-8">
        show('connectLink');
    </script>
</body>
</html>
