<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenMic</title>
    <script src="/js/TB.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome-4.2.0/css/font-awesome.min.css" />
    <script src="/js/openmic.js"></script>
</head>
<body>
    <!-- container -->
    <div class="container-fluid">
        <div class="row">
            <header class="codrops-header col-xs-12">
                <h1>OpenMic <i class="fa fa-bullhorn"></i><span class="col-xs-12">Connect and ask the audience a question</span></h1>
            </header>
        </div>
        <!-- Row -->
        <div class="row">
                <!-- <div id="opentok_console" class="opentok_console"> -->
                    <div id="textBox" class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-md-offset-3">
                        <input id="txtName" type="text" class="form-control input-md" placeholder="Enter your Name"/>
                    </div>
                <!-- </div>End Class opentok_console -->
        </div><!-- End Row -->
        <div class="row">
            <center>
                <!-- Client Video -->
                <div class="Client_video" id="Client_video" style="display: none">
                    <div id="myCamera" class="publisherContainer col-md-12 col-sm-12 col-xs-12"></div>
                    <div id="subscribers" class="subscribersContainer" style="display:none"></div>
                </div>
            </center>
            <!-- End Client Video -->
        </div><!-- End Row -->

        <div class="row">
            <center>
                <!-- Call moderator -->
                <div id="onlineusers" class="col-md-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12"></div>
                <!-- End Call moderator -->
            </center>
        </div>
        <div class="row">
                <!-- Connection Buttons -->
                <!-- Connect -->
                <button id="connectLink" onclick="connect()" type="button" class="btn btn-primary btn-lg col-md-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">Connect</button> 
                <!-- Disconnect -->
                <button id="disconnectLink" onclick="disconnect()" style="display: none" type="button" class="btn btn-primary btn-lg col-md-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">Disconnect</button>
                <!-- End Connection Buttons -->
        </div><!-- End Row -->
        
    </div><!-- End Container -->

    <script type="text/javascript" charset="utf-8">
        show('connectLink');
    </script>
</body>
</html>
