<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OpenMic</title>
    <script src="/js/TB.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/menu_topside.css" />
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <script src="/js/openmic.js"></script>
</head>
<body>
    <div class="container">
        <div class="menu-wrap">
            <nav class="menu-top">
                <div class="profile"><span style="color: #ffffff">Moderator</span></div>
                <div class="icon-list">
                    <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
                    <a href="#"><i class="fa fa-fw fa-bell-o"></i></a>
                    <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
                    <a href="#"><i class="fa fa-fw fa-comment-o"></i></a>
                </div>
            </nav>
            <nav class="menu-side">
                <a href="#" data-toggle="collapse" data-target="#onlineusers">Connected Users</a>
                <div id="onlineusers" class="collapse">
                </div>
                <a href="javascript:disconnect()" id="disconnectLink" style="display: none">Leave</a>
                <a href="#" data-toggle="modal" data-target="#myModal">Launch QR Code</a>
            </nav>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <center><h3 class="modal-title" id="myModalLabel"><b>To ask a question visit</b><br>
                            <b style="font-size:50px">http://kseudo.com:3002</b><br> or scan the code below: <i class="fa fa-bullhorn"></i></h3></center>
                  </div>
                  <div class="modal-body">
                    <img width="100%" src="style/code.png"/>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal -->
        </div><!--menu-wrap-->

        <button class="menu-button" id="open-button">Open Menu</button>
        <div class="content-wrap">
            <div class="content">
                <header class="codrops-header">
                    <h1>OpenMic <i class="fa fa-bullhorn"></i><span>Welcome Moderator!</span></h1>
                </header>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <!-- <div class="videos"> -->
                                <div id="myCamera" class="publisherContainer"></div>
                                <hr>
                                <div id="subscribers" class="subscribersContainer"></div>
                            <!-- </div> -->
                        </div>
                    </div>


                <div id="opentok_console" class="opentok_console">
                    <div id="links">
                        <div id="controlpanel">
                            <input id="txtName" type="text" style="display: none"/>
                            <input type="button" value="Connect" id="connectLink" onclick="javascript:connect()" />
                            <!-- <input type="button" value="Leave" id="disconnectLink" onclick="javascript:disconnect()" style="display: none" /> -->
                            <!-- <div class="header">Connected Users</div> -->
                            <!-- <div id="onlineusers">
                            </div> -->
                        </div>
                    </div>
                    <div id="links">
                        <div id="controlpanel">
                            <div class="header">Pending Calls</div>
                            <div id="acceptCallBox">
                                <!-- Should be initially hidden using CSS -->
            .
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /content-wrap -->

    </div><!-- /container -->



    <script src="js/classie.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript" charset="utf-8">
        show('connectLink');
        document.addEventListener("DOMContentLoaded", function(event) {
            //do work
            document.getElementById('txtName').value = 'Moderator';
            connect();
        });
    </script>
</body>
</html>
