<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OpenMic</title>
    <script src="/js/TB.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <script src="/js/openmic.js"></script>
</head>
<body>
    <h2>Moderator Page!</h2>

    <div>
        <div style="float:left">
            <img src="style/Demo.png"/>
        </div>
        <div class="videos">
            <div id="myCamera" class="publisherContainer"></div>
            <div id="subscribers" class="subscribersContainer"></div>
        </div>
    </div>
    <div id="opentok_console" class="opentok_console">
        <div id="links" class="links">
            <div class="header">Control Panel</div>
            <div id="controlpanel">
                <input id="txtName" type="text" />
                <input type="button" value="Connect" id="connectLink" onclick="javascript:connect()" />
                <input type="button" value="Leave" id="disconnectLink" onclick="javascript:disconnect()" style="display: none" />
                <div class="header">Connected Users</div>
                <div id="onlineusers">
                </div>
            </div>
        </div>
        <div id="links" class="links">
            <div id="controlpanel">
                <div class="header">Pending Calls</div>
                <div id="acceptCallBox">
                    <!-- Should be initially hidden using CSS -->
.
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        show('connectLink');
        document.addEventListener("DOMContentLoaded", function(event) {
            //do work
            document.getElementById('txtName').value = 'Moderator';
            connect();
        });
    </script>
</body>
</html>
